/*
  To find more colors: https://monsido.com/tools/contrast-checker
  background-color : dark blue : 0E3042
  primary-color : cyan-like : 57F5E9
  
  muted1-color : gray cyan : 9FCDCA
  muted2-color : gray green : BDCDB4
  muted3-color : gray magenta : DEB9DE

  selector-color : red : FF0000

  success-color : bright green : 68ED1B
  warning-color : magenta-like : FF97FF
*/

* {
  margin: 1vh;
  padding: 0;
}

html {
  margin: 0;
}

body {
  background: #0E3042;
  color: #57F5E9;
  font-size: large;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  background: #57F5E9;
  color: #0E3042;
  font-size: xx-large;
  border: 3px solid #57F5E9;
  margin: 0;
}

h2 {
  background: #57F5E9;
  color: #0E3042;
  font-size: x-large;
  border: 3px solid #57F5E9;
  margin: 0;
}

#admin {
  background: #FF97FF;
  color: #0E3042;
  border: 3px solid #FF97FF;
}

form {
  background: #57F5E9;
  color: #0E3042;
  font-size: large;
  border: 3px solid #57F5E9;
  width: 75%;
  display: inline-block;
}
input {
  background: #57F5E9;
  color: #0E3042;
  font-size: large;
  border: 0px solid #57F5E9;
  width: 100%;
  margin: 0;
}

button {
  background: #0E3042;
  color: #57F5E9;
  font-size: large;
  border: 3px solid #57F5E9;
  width: 100%;
  width: 75%;
  display: inline-block;
}

div {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.bordered {
  border: 2px solid #57F5E9;
}

.mediumWidth {
  width: 75%
}

.centered {
  align-items: center;
  align-content: center;
  text-align: center;
  display: inline-block;
}

#centered {
  align-items: center;
  align-content: center;
  text-align: center;
}